In [1]:
import json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib.pyplot inline

Bad key "text.kerning_factor" on line 4 in
/opt/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
https://github.com/matplotlib/matplotlib/blob/v3.1.3/matplotlibrc.template
or from the matplotlib source distribution
UsageError: Line magic function `%matplotlib.pyplot` not found.

In [2]:
df = pd.read_csv('clean.csv')

In [3]:
df.columns

Index(['Unnamed: 0', 'id', 'type', 'date', 'from', 'from_id', 'text', 'Year',
       'Month', 'Hour', 'MonthWord', 'Period'],
      dtype='object')

In [4]:
# removing unnecessary feature

df.drop('Unnamed: 0', axis=1, inplace=True)

In [5]:
df.head()

,id,type,date,from,from_id,text,Year,Month,Hour,MonthWord,Period
0,752960,message,2017-04-09T10:22:29,Jiayin,44420247.0,"Hello, Jiayin here! Cute pic there btw hahaha",2017,4,10,Apr,Morning
1,752961,message,2017-04-09T11:40:25,Chekwei,63910289.0,HEYHEYHEY,2017,4,11,Apr,Morning
2,752962,message,2017-04-09T11:40:37,Chekwei,63910289.0,"Omggg I don't want to wake up, feeling like DEATH",2017,4,11,Apr,Morning
3,752963,message,2017-04-09T11:45:38,Jiayin,44420247.0,Hahaha!! What time did you studied till?,2017,4,11,Apr,Morning
4,752964,message,2017-04-09T12:22:29,Chekwei,63910289.0,I slept at 630!,2017,4,12,Apr,Morning

In [6]:
# converting data type to string

df['text'] = df['text'].astype('str')

In [7]:
textList = []

In [8]:
from nltk.corpus import stopwords
import string

In [43]:
stopwords.words('english')[0:20] #samples of stopwords to be ignored/removed from text

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his']

In [10]:
"""'
text_processing method does 3 things: 
1. remove punctuation
2. remove stop words
3. return list in clean text words (string)
'"""

def text_processing (text):
    nopunc = [char for char in text if char not in string.punctuation]
    
    nopunc = ''.join(nopunc) 
    #making it become string of words, with blanks in between each word (proper sentence) 
    
    #Example below:     
    #['h','e','l','l','o','','c','h','e','k','','w','e','i']
    #'hello chek wei'
    #now, nopunc is a string form of words
    return [word for word in nopunc.split()
           if word.lower() not in stopwords.words('english')]

In [11]:
df['text'].head()

0        Hello, Jiayin here! Cute pic there btw hahaha
1                                            HEYHEYHEY
2    Omggg I don't want to wake up, feeling like DEATH
3             Hahaha!! What time did you studied till?
4                                      I slept at 630!
Name: text, dtype: object

In [12]:
# creating new feature = cleanText by applying the method we created 

df['cleanText'] = df['text'].apply(text_processing)

In [14]:
# check that stopwords are removed 

df['cleanText'].head()

0            [Hello, Jiayin, Cute, pic, btw, hahaha]
1                                        [HEYHEYHEY]
2    [Omggg, dont, want, wake, feeling, like, DEATH]
3                      [Hahaha, time, studied, till]
4                                       [slept, 630]
Name: cleanText, dtype: object

In [15]:
# appending all the text messages into one big list
# textList is a big list of list of strings, which needs to flatten later

for text in df['cleanText']:
    textList.append(text)

In [17]:
# list of tokenize strings after flattened

from pandas.core.common import flatten
flattenTextList = list(flatten(textList))

In [18]:
# converting all tokenized strings to small caps

mapOutput = map(lambda x:x.lower(), flattenTextList) 
smallflattenTextList = list(mapOutput)

In [19]:
from collections import Counter

In [44]:
# most common words in list of strings small caps

wordCommon = Counter(smallflattenTextList) 
wordCommon.most_common()[:20]

[('hahaha', 24536),
 ('haha', 20613),
 ('ok', 16576),
 ('like', 12432),
 ('think', 11473),
 ('go', 10013),
 ('nan', 9697),
 ('😂', 9109),
 ('one', 9098),
 ('cause', 7690),
 ('also', 7289),
 ('need', 6670),
 ('okie', 6618),
 ('ya', 6579),
 ('bb', 6274),
 ('time', 5728),
 ('hehe', 5485),
 ('hahahaha', 5479),
 ('omg', 5306),
 ('eat', 5152)]

In [21]:
print('words \t: frequency')
print('hello \t: ' + str(smallflattenTextList.count('hello')))
print('love \t: ' + str(smallflattenTextList.count('love')))
print('bye\t: ' + str(smallflattenTextList.count('bye')))
print('lunch\t: ' + str(smallflattenTextList.count('lunch')))
print('dinner\t: ' + str(smallflattenTextList.count('dinner')))
print('chek\t: ' + str(smallflattenTextList.count('chek')))

words 	: frequency
hello 	: 1357
love 	: 948
bye	: 232
lunch	: 1950
dinner	: 2838
chek	: 356

# Text Analysis by word counts (Jiayin)

In [22]:
df[df['from']=='Jiayin']['cleanText'] # filter by partner's name

0                   [Hello, Jiayin, Cute, pic, btw, hahaha]
3                             [Hahaha, time, studied, till]
9                                  [hope, got, bed, hahaha]
10        [supposed, wake, 10, snoozed, till, 12, part, ...
17        [Siao, 35, hours, hahaha, unless, need, paper,...
                                ...
227312                    [still, got, lot, maggie, mee, 😂]
227316                                        [okie, dokie]
227317                                               [Hehe]
227320    [Got, 2, small, prawns, scallops, mussels, hah...
227323                               [HAHAHA, frozen, kind]
Name: cleanText, Length: 106120, dtype: object

In [23]:
df[df['from']=='Chekwei']['cleanText'] # filter by my name

1                                             [HEYHEYHEY]
2         [Omggg, dont, want, wake, feeling, like, DEATH]
4                                            [slept, 630]
5                              [Omg, snoozed, 10am, till]
6                                [Really, need, get, bed]
                               ...
227319                                             [meat]
227321                                          [mussels]
227322                             [atas, suddenly, HAHA]
227324                              [going, shower, alrd]
227325                                   [facetime, hehe]
Name: cleanText, Length: 121152, dtype: object

In [24]:
jiayinTextList =[]
for text in df[df['from']=='Jiayin']['cleanText']:
    jiayinTextList.append(text) # text list is a list of list of strings, need to flatten - from JY only

chekweiTextList = []
for text in df[df['from']=='Chekwei']['cleanText']:
    chekweiTextList.append(text) # text list is a list of list of strings, need to flatten - from me only

In [25]:
from pandas.core.common import flatten
jiayinflattenTextList = list(flatten(jiayinTextList)) # list of tokenize strings after flatten
chekweiflattenTextList = list(flatten(chekweiTextList)) # list of tokenize strings after flatten

In [26]:
jymapOutput = map(lambda x:x.lower(), jiayinflattenTextList) 
cwmapOutput = map(lambda x:x.lower(), chekweiflattenTextList) 

jiayinsmallflattenTextList = list(jymapOutput) # list of tokenize strings in small caps
chekweismallflattenTextList = list(cwmapOutput) # list of tokenize strings in small caps

In [38]:
# top 10 most common words in list of strings small caps from Jiayin

jywordCommon = Counter(jiayinsmallflattenTextList) 
jywordCommon.most_common()[:10]

[('hahaha', 16188),
 ('haha', 11028),
 ('ok', 7899),
 ('think', 6715),
 ('like', 6686),
 ('😂', 6221),
 ('one', 4726),
 ('nan', 4410),
 ('hahahaha', 4241),
 ('go', 3898)]

In [40]:
# top 10 most common words in list of strings small caps from Chek

cwwordCommon = Counter(chekweismallflattenTextList) 
cwwordCommon.most_common()[:10]

[('haha', 9585),
 ('ok', 8677),
 ('hahaha', 8348),
 ('go', 6115),
 ('like', 5746),
 ('nan', 5233),
 ('think', 4758),
 ('one', 4372),
 ('okie', 4338),
 ('also', 4237)]

In [42]:
print('words from JY \t: frequency')
print('hi\t\t: ' + str(jiayinsmallflattenTextList.count('hi')))
print('hey\t\t: ' + str(jiayinsmallflattenTextList.count('hey')))
print('hahaha\t\t: ' + str(jiayinsmallflattenTextList.count('hahaha')))
print('haha\t\t: ' + str(jiayinsmallflattenTextList.count('haha')))
print('😂\t\t: ' + str(jiayinsmallflattenTextList.count('😂')))
print('food\t\t: ' + str(jiayinsmallflattenTextList.count('food')))

print('\n')
print('words from CW \t: frequency')
print('hi\t\t: ' + str(chekweismallflattenTextList.count('hi')))
print('hey\t\t: ' + str(chekweismallflattenTextList.count('hey')))
print('hahaha\t\t: ' + str(chekweismallflattenTextList.count('hahaha')))
print('haha\t\t: ' + str(chekweismallflattenTextList.count('haha')))
print('😂\t\t: ' + str(chekweismallflattenTextList.count('😂')))
print('food\t\t: ' + str(chekweismallflattenTextList.count('food')))

words from JY 	: frequency
hi		: 355
hey		: 72
hahaha		: 16188
haha		: 11028
😂		: 6221
food		: 994


words from CW 	: frequency
hi		: 304
hey		: 228
hahaha		: 8348
haha		: 9585
😂		: 2888
food		: 1465